# Dependencies
node_modules
pnpm-lock.yaml

# Build outputs
dist
build
.next
.turbo
out

# Cache
.cache
.parcel-cache

# Environment
.env
.env.local
.env.*.local

# Logs
*.log

# OS
.DS_Store

# IDEs
.vscode
.idea
